DATABASE_URL=./data/sqlite.db

OLCRTC_DATA_DIR=./data/instances

# if you ever need this
# OLCRTC_BINARY_PATH=./olcrtc/build/olcrtc-linux-amd64

OLCRTC_GIT_DIR=./olcrtc
OLCRTC_BUILD_DIR=./olcrtc

OLCRTC_GIT_REMOTE_URL=https://github.com/openlibrecommunity/olcrtc

MAGE_CMD=mage

BODY_SIZE_LIMIT=Infinity
